*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
html{
    scroll-behavior: smooth;

}
.container{
    text-align:center;
    margin-top: 60px;
}
table{
    margin:auto;
}
input{
    border-radius:25px;
    border:2px solid black;
    font-size:35px;
    height:100px;
}
button{
    border-radius: 15px;
    border: 2px solid black;
    font-size:25px;
    width:100px;
    height:50px;
    margin:6px;
}
.calculator-body{
    background-color: burlywood;
    display:inline-block;
    border:4px solid black;
    border-radius:50px;
    padding:30px;
}